@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+GB+J+Guides:ital@0;1&display=swap');



.p1{
    color: red;
    text-shadow: 20px 10px 30px red;
    font-size: 40px;
    font-family: "Playwrite GB J Guides", cursive;
}

.p2{
    color: greenyellow;
    font-size: 20px;
    text-shadow: 20px 20px 10px blue;
    font-family: "Fira Sans", sans-serif;
}

.p3{
    color: darkgreen;
    font-family: cursive;
    text-shadow: 30px 15px 10px greenyellow;
    font-size: 50px;
}

.p4{
    color: purple;
    font-size: 35px;
    font-family: sans-serif;
    text-shadow: 20px 30px}