header{
    text-align: center;
    background-color: rgb(7, 54, 38);
}

div{
    display: flex;
    gap: 10%;
    height: 350px;
    background-color: rgb(255, 165, 47);
}

footer{
    display: flex;
    text-align: center;
    background-color: aqua;
    height: 100px;
    align-items: center;
    justify-content: center;
   
}
.butt{
    margin-left: 10px;
}