#first{

    color: rgb(25, 200, 75); background-color: rgb(15, 128, 200);font-size:30px ;text-align: center;

}

.second{

    background-color: rgb(190, 50, 200); color: rgb(168, 160, 50);text-align: left; font-size: larger;

}