.first{
    background-color: black;color: aqua;font-size: medium;



}

#second{

    background-color: chocolate;color: darkgreen;font-size: 30px;



}

#third{
    background-color: darkgreen;color: cyan;font-size: 20px;


}
